<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Generate Code</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <img type="logo" src="/image/logo.svg" alt="Logo" class="img-fluid mx-auto d-block mt-5" />
            <!--- Display current time --->
           <div class="text-center mt-3 mb-4">
            <h1 id="current-time" style="font-weight: bold;"></h1> 

          </div>
          <!--- Display current time --->
            
            <form action="/checkin_outcode" method="POST" class="form-inline mt-4">
              <div class="d-flex align-items-center card p-3 rounded-3 shadow-sm">
                <h4 class="text-center mt-4 mb-4">โค้ดสำหรับการเช็กอินเข้า - ออกงาน</h4>
    
                <div class="input-group">
                  <input type="text" class="form-control" id="username" name="username"
                    placeholder="โปรดใส่ Username ของคุณ" required />
                    
                  <button type="submit" class="btn btn-warning">Submit</button>
                </div>
                
              </div>
              <br>
              <% if (typeof otp !== 'undefined') { %>
                <div class="d-flex align-items-center card p-3 rounded-3 shadow-sm">
                  <p>Username: <%= username %></p>
                  <p>OTP: <span class="animated-text"><%= otp %></span></p>
                  
                </div>
              <% } %>
            </form>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
        <script src="/js/time.js" defer></script> 
</body>

</html>