<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Home</title>
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

  </script>


</head>

<body>

<!--- หัวเรื่อง--->
    <header class="mt-5 sticky-top "> 
        <div class="container"><br>
          <div class="row">
            <div class="col-2 ">
              <% if (userData && userData.profile_pic) { %>
                <img type="profile" src="<%= userData.profile_pic %>" alt="Profile">
              <% } else { %>
                <img type="profile" src="/image/profile.jpg" alt="Profile"> 
              <% } %>
            </div>
            
            <div class="col-6">
              <h2><%= userData ? userData.f_name + ' ' + userData.l_name : 'User' %></h2>
              <p>
                <span id="currentDate"></span> | <span id="currentTime"></span>  น.
              </p>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end mb-2">
              <a href="#">
                <img src="/icon/notifications_icon_fill.svg" alt="Home Icon">
              </a>
            </div>
          </div>
        </div>
      </header>

<!--- ลงเวลาเข้า - ออก--->

<br><br>
<h2 class="text-center font-weight-bold">ลงเวลาเข้า - ออก</h2>



<div class="container mt-4">
  <div class="card rounded-3">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h5 class="card-title">เวลาเข้างาน </h5>
        <p id="checkin-time"></p>
      </div>

      <a href="/user_home_checkin">
        <button type="button" class="btn btn-success btn-lg align-self-center" id="checkInButton"> เช็คอิน </button>
      </a>
      
    </div>
  </div>
</div>



<div class="container mt-4">
  <div class="card rounded-3">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h5 class="card-title">เวลาออกงาน</h5>
        <p>
          <span>08:30</span> น. <span class="text-success">(ออกงานตรงเวลา)</span>
        </p>
      </div>
      <a href="/user_home_checkout">
      <button type="button" class="btn btn-danger btn-lg align-self-center" id="checkOutButton">เช็คเอ้าท์</button>
      </a>
    </div>
  </div>
</div>




<!--- Footer--->
<footer class="footer mt-auto py-3 bg-warning fixed-bottom">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-4">
        <a href="#" class="text-decoration-none text-dark d-block text-center"> 
          <img src="/icon/home_icon_fill.svg" alt="home_icon" class="d-block mx-auto mb-2"> <span>Home</span>
        </a>
      </div>
      <div class="col-4">
        <a href="/user_menu" class="text-decoration-none text-dark d-block text-center">
          <img src="/icon/menu_icon.svg" alt="home_icon" class="d-block mx-auto mb-2">
          <span>Menu</span>
        </a>
      </div>
      <div class="col-4">
        <a href="#" class="text-decoration-none text-dark d-block text-center">
          <img src="/icon/status_icon.svg" alt="home_icon" class="d-block mx-auto mb-2">
          <span>Status</span>
        </a>
      </div>
    </div>
  </div>
</footer>


  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
    <script src="/js/today.js" defer></script> 
    <script src="/js/updateCheckinTime.js"></script> 
</body>

</html>
