<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>เงินเดือน</title>
    <link rel="icon" type="image" href="/image/logo_web.png">
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

    </script>
</head>

<body>
    <header class="mt-5 sticky-top" style="background-color: white;">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-2 ">
                    <script>
                        console.log("Image path:", "/icon/back_icon.svg");
                    </script>
                    <a href="/user_menu"> <img src="/icon/back_icon.svg" alt="Back"></a>
                </div>
                <div class="col-8 text-center">
                    <h2>เงินเดือน</h2>
                </div>
            </div>
        </div>
    </header>


</body>

<!-- end Content -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>

</body>

</html>